@media (min-width: 780px) {
  .so-widget-sow-hero-default-1bb135af3722-40 {
    min-height: 400px;
  }
}
@media (max-width: 780px) {
  .so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images {
    min-height: 0 !important;
  }
}
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper {
  padding: calc( 50px + 0px ) 5% 50px 5%;
  max-width: 1280px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 780px) {
}
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h1,
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h2,
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h3,
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h4,
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h5,
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h6 {
  line-height: 1.375em;
  color: #ffffff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  margin: 0.1em 0;
  
}
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h1 {
  font-size: 65px;
}
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h2 {
  font-size: 55.25px;
}
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h3 {
  font-size: 45.5px;
}
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h4 {
  font-size: 39px;
}
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h5 {
  font-size: 32.5px;
}
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper h6 {
  font-size: 26px;
}
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper p {
  color: #ffffff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  margin: 1em 0;
  font-size: 23px;
  
}
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper .sow-hero-buttons {
  margin-top: 3em;
  padding-bottom: 0.2em;
}
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper .sow-hero-buttons .so-widget-sow-button {
  display: inline-block;
  margin: 3px 6px 0;
}
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base .sow-slider-pagination {
  text-align: left;
}
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base .sow-slider-pagination li a {
  background: #ffffff;
}
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-hero-default-1bb135af3722-40 .sow-slider-base .sow-slide-nav a {
  color: #ffffff;
}